.article-card {
  .article-link {
    text-decoration: none;
    display: block;
    height: 100%;
  }

  .highlighted {
    background-color: yellow;
    color: '#363636';
  }

  .icon-arrow {
    padding-left: 5px;
  }

  .icon-calendar {
    margin-right: 10px;
  }

  .date-wrapper {
    display: flex;
  }
}
